<%- include('header')%>
<div class="ui secondary pointing menu">
    <a class="active item" href="/"><i class="large home icon"></i>首页</a>
    <% if(name) { %>
        <a class="item"><i class="large user icon"></i>个人</a>
    <% } %>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <% if(name) { %>
            <a class="ui item" id="personal"><%= name %></a>
            <a class="ui item" href="/aj/logout" id="loginout_home">退出</a>
        <% } else {%>
            <a class="ui item" id="login_home">登录</a>
            <a class="ui item" id="register_home">注册</a>
        <% } %>
    </div>
</div>
<div class="ui raised segments" style="width:50%;left:1%">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a class="section">作者</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">类别</div>
        </div>
    </div>
    <div class="ui segment">
            
        <h2 class="ui header">标题1</h2>
        <h5 class="ui header">时间</h5>
        <p>概论</p>
    </div>
</div>
<div class="ui raised segments" style="width:50%;left:1%">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a class="section">作者</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">类别</div>
        </div>
    </div>
    <div class="ui segment">
        <h2 class="ui header">标题1</h2>
        <h5 class="ui header">时间</h5>
        <p>概论</p>
    </div>
</div>
<div class="ui raised segments" style="width:50%;left:1%">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a class="section">作者</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">类别</div>
        </div>
    </div>
    <div class="ui segment">
        <h2 class="ui header">标题1</h2>
        <h5 class="ui header">时间</h5>
        <p>概论</p>
    </div>
</div>
<div class="ui raised segments" style="width:50%;left:1%">
    <div class="ui segment">
        <div class="ui breadcrumb">
            <a class="section">作者</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">类别</div>
        </div>
    </div>
    <div class="ui segment">
        <h2 class="ui header">标题1</h2>
        <h5 class="ui header">时间</h5>
        <p>概论</p>
    </div>
</div>
<%- include('footer') %>