<%- include('header')%>
<div class="ui secondary pointing menu">
    <a class="active item"><i class="large home icon"></i>首页</a>
    <a class="item"><i class="large user icon"></i>个人</a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item" id="login_home">登录</a>
        <a class="ui item" id="register_home">注册</a>
    </div>
</div>
<div class="ui segment">
    <p>测试测试测试</p>
</div>
<%- include('footer') %>