<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dawei</title>
        <link rel="shortcut icon " type="images/x-icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <script src="semantic/dist/jquery.min.js"></script>
        <script src="semantic/dist/semantic.min.js"></script>
    </head>
    <body>