<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dawei</title>
        <link rel="shortcut icon " type="images/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!-- <script src="js/home.js"></script> -->
        <script src="http://localhost:8080/home.js"></script>
    </head>
    <body>