.ui.secondary.pointing.menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: white;
}
.ui.raised.segments {
    width:50%;
    left:1%;
    top : 13%;
}
.ui.black.inverted.vertical.footer.segment {
    top : 13%;
}